<!DOCTYPE html>
<html>
<head>
<title>Orientation Checker</title>
<meta name="viewport" content="width=device-width; initial-scale=1.0; maximumscale=
1.0; user-scalable=0;" />
 
<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="/assets/orientation-monitor.js"></script>
</head>
<body>
<h1 class="simple">Orientation Monitor</h1>
<ul class="details">
<li class="header">Event Details</li>
<li><label>Type:</label><span id="event-type" /></li>
<li class="header">Window Details</li>
<li><label>Width:</label><span id="window-width" /></li>
<li><label>Height:</label><span id="window-height" /></li>
<li><label>Orientation:</label><span id="window-orientation" /></li>
<li class="header">Detection Results</li>
<li><label>Orientation:</label><span id="orientation" /></li>
<li><label>Rotation Class:</label><span id="rotation-class" /></li>
</ul>
</body>
</html>
NOTE: