body {
    margin: 0px;
    min-height: 480px;
    font-family: Arial;
}

h1.simple {
    font-size: 0.9em;
    padding: 8px 4px 4px 8px;
    background: #333333;
    color: #AAAAAA;
    border-bottom: 2px solid #AAAAAA;
    margin: 0 0 4px 0;
}

h1.fancy {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #666666), color-stop(0.5, #3A3A3A), color-stop(0.5, #222222), color-stop(1.0, #000000));
    -webkit-box-shadow: 0 2px 1px #AAAAAA;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    font-size: 1.1em;
    color: white;
    padding: 10px 8px;
    margin: 0 6px 6px 6px;
    text-align: center;
}

ul {
    margin: 0;
    padding: 4px;
    list-style-type: none;
}

ul li {
    margin: 0;
    padding: 2px 6px;
}

ul li.header {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0, #666666), color-stop(1.0, #000000));
    color: white;
    font-style: bold;
    padding: 6px;
    -webkit-border-radius: 3px;
    margin-top: 2px;
}

ul li label {
    width: 120px;
    float: left;
    clear: left;
}

ul#actions li {
    padding: 0px;
}

button {
    width: 100%;
    padding: 8px 0 10px 0;
}

/* form element styles */

ul {
    margin: 0px;
    padding: 6px;
    list-style-type: none;
}

ul li {
    margin: 0 0 4px 0;
}

ul li.bordered {
    -webkit-border-radius: 4px;
    border: 1px solid #666666;
    padding: 4px;
}

input, textarea {
    -webkit-appearance: none;
    border: 0;
    width: 99%;
}

#topmenu 
{
	 padding: 10px 10px 20px 10px;
	display:box;
	position:relative	;
	background-color:#d0edfe; display:block;	
	color:#666666;
}

#logo
{
height: 10%;
width:15%;	
}

#topmenu ul li{display:inline; float:right; position:relative;}
#topmenu ul li span{font-family:Calibri;}
#topmenu ul li a {padding:2px 2px 2px 2px;text-decoration:none; background:#d0edfe; color:inherit; }
#topmenu ul li a:hover { background:#8ebfa0; }
#topmenu ul li a:visited { color:inherit; }

 
#login-container {  display:table; -webkit-border-radius: 4px;border-radius: 4px; right:50%;    border: 1px solid #ffba00;     padding: 10px; margin:5px;}
#login-container h2 {position:inherit; text-align:center;   margin:2px; padding:2px;   background:#ffba00; } 

.notice {background:#F29202; z-index:1; display:block; width:100%; height:20px; transparent:40%; text-align:center; vertical-align: middle; float:center;}
.notice span{font-family:Verdana, Geneva, Arial, Helvetica, sans-serif; font-size:0.9em; font-style:italic; overflow:none;}

label{font-family:Verdana; font-size:11pt;}
.foot
{background:#8ebfa0; position:fixed;}

 
	#toprow {height:372px;border-top:solid 1px #1d1d1d;background: #FFFFFF    repeat-x; }
 
